@model List<SistemaDeCondominios.Models.ServiciosModel>
@{
    ViewBag.Title = "Index";
}

<h2>Gestionar Servicios</h2>
@Html.ActionLink("Nuevo Servicio", "InsertarServicio", null, null, new { @class = "btn btn-primary" })
<table class="table table-hover table-bordered">
    <tr class="bg-opacity-75" style="background-color: rgba(59, 86, 59, 0.87);">
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    <tbody>
        @foreach (var servicios in Model)
        {
            <tr>
                <td>@servicios.IdServicio</td>
                <td>@servicios.Nombre</td>
                <td>₡@servicios.Precio</td>
                <td>@servicios.Categoria</td>
                <td>@(servicios.Estado == true ? "Activo" : "Inactivo")</td>
                <td>
                    @Html.ActionLink("Consultar", "InsertarServicio", "Servicios", new { Id = servicios.IdServicio }, new { @class = "btn btn-primary me-2" })
                </td>
            </tr>
        }
    </tbody>
</table>
